html {
    scroll-behavior: smooth;
}

#content {
    transition: opacity 0.3s ease-in-out;
}

#content.active {
    opacity: 1;
}

:root {
    --primary-color: #01A3BA;
    --primary-color-hover: #047180;
    --background-color: #f0f9fa;
    --text-color: #333;
    --header-height: 50px;
    --footer-height: 60px;
    
}



body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

#container {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    position: absolute;  
    top: 50%;            
    left: 50%;           
    transform: translate(-50%, -50%); 
}

#container::before {
    content: '';
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}


header {
    max-width: 600px;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px 0 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

header li {
    font-size: 1.2rem;
    font-weight:bolder ;
    cursor: pointer;
    text-align: center;
    color: white;
}

i {
    font-size: 1.5rem; 
}
.top {
    margin: 0;
    padding: 0;
    font: 0.2rem;
    text-align: left;
}
.top p {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
    font-weight:bolder ;
}



.imgbox {
    width: 17%;
    height: 17%;
}

.box {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    text-align: left;
    display: flex;            
    flex-direction: column;     
    align-items: flex-start;    
    justify-content: flex-start; 
}


.buttons {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: flex-start;
    text-align: center; 

}

.buttons .button {
    background-color: white; 
    color: white;
    align-items: center;
    text-align: center; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    padding: 5px;
    width: 80px;
    color: var(--primary-color);
}

.buttons .button:hover {
    background-color: var(--primary-color-hover);
}

/* Style the button link */
.update a.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: white; 
    text-align: center; 
    padding: 1px;
    text-decoration: none;
    font-size: 0.6rem; 
    transition: background-color 0.3s, transform 0.3s;
    width: 60px;
    border-radius: 5px;
}

/* Main update container style */
.update {
    padding: 1rem;
    font-size: 0.8rem;
    background-color: #fff;
    margin-bottom: 20px;
}

/* List items inside update */
.update li {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 12px;
    color: #555;
    opacity: 0; /* Start with items hidden */
    animation: fadeInOut 2s ease-in-out infinite;
}

/* Smooth fade-in and fade-out effect */
@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1; /* Fade in */
    }
    50% {
        opacity: 1; /* Hold fully visible */
    }
    75% {
        opacity: 1; /* Fade out */
    }
    100% {
        opacity: 0;
    }
}


.org  {
    padding: 5px 15px 15px;
    margin: 0 0 var(--footer-height) 0;
    background-color: white;
}

.org img {
    width: 100%;
}

.org h3 {
    font-size: 0.9rem;
}




footer {
    max-width: 600px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

footer button {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 0px;
    background-color: #01A3BA;
    font-size: 0.6rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    text-align: center;
    flex: 1; /* Ensure equal width for all list items */
}

footer button i {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 0.5rem;
}

footer button.active,
footer button:hover {
   color: #333;
}

main {
    margin: var(--header-height) 0 0 0;
    flex: 1;
    overflow-y: auto;
    animation: fadeIn 0.5s ease-out;
}


main h2 {
    color: var(--primary-color);
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1rem;
    transition: transform 0.2s;
}


.heading {
    font-weight: bold;
    background-color:  rgba(255, 255, 255, 0.3);
    font-size: 1.0rem;
    border-bottom-left-radius: 10px;
    border-bottom: 0.15rem solid var(--primary-color);
    color:var(--text-color) ;
    padding: 0.4rem;
    margin-top: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes blink {
    50% {
        opacity: 0.99;
        color: var(--primary-color);
    }
}





/*--------------------Home page -------------------*/
.sp {
    margin: 0;
    padding: 20px;
    position: relative;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.sp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://raw.githubusercontent.com/Givs01/G/960a194d1955f94e9bd6b9006685887f09252e75/images/sp.png'); 
    background-size: cover;
    background-position: center;
    filter: blur(0.5px); 
    z-index: -1; 
}


.sp p {
    font-size: 0.8rem;
    color: white;
    margin: 0.3rem 0;
}

.sp h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.sp h2 {
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.bghead {
    margin: 0;
    padding: 20px;
    position: relative;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.bghead::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(1, 163, 186, 0.7)), url("../images/background.png");
    background-size: cover;
    background-position: center;
    filter: blur(0.50px);
    z-index: -1;
}





.bghead p {
    font-size: 0.8rem;
    color: white;
    margin: 0.3rem 0;
}

.bghead h1 {
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.bghead h2 {
    color: var(--text-color);
    font-size: 1.0rem;
    margin: 0.5rem 0;
}

.home {
    padding: 0.5rem 1.0rem 0;
}

.home h1 {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 1rem 0;
}

.home h2 {
    color: var(--text-color);
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.home h3 {
    color: var(--text-color);
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

.home p {
    font-size: 0.8rem;
    color: var(--text-color);
    margin-bottom: 0.5rem 0;
    text-align: justify;
}

.home img {
    max-width: 25%;  
    height: 25%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 0 1rem 0;
    padding: 0;
}

.card-content {
    flex: 1;
    text-align: center;
}

.card-content h1{
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}
.card-content h2 {
    color: var(--text-color);
    margin: 0;
    font-size: 0.7rem;
    font-weight: normal;
}

.card-image img {
    max-width: 180px;  
    height: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

}

.home .star {
    text-align: right;
    align-items: flex-start;
    font-size: 0.5rem;

}


.theme-box {
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem ;
    padding: 0.5rem;
    border-radius: 10px;
}


.theme-box img{
    width:80px;
    height: auto;
    object-fit: cover;
    border-left: 5px solid var(--primary-color);
    border-radius: 10px;
    padding: 0;
}


/*---------------------------speaker -------------------------------*/

.profcard {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 0 0.5rem 0.5rem ;
    padding: 0.5rem 0.8rem 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Regular shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
}
.bands {
    display: flex;
    margin: 0;
    padding: 0;
}

.bands img {
    width: 75px;  
    height: 75px; 
    align-items: center;
    object-fit: cover;  
    border: 0.5px solid var(--primary-color);
    border-bottom: 3.5px solid var(--primary-color);
    border-radius: 50%;
    padding: 1px;
    transition: transform 0.3s ease; 
}
.profcard > div {
    padding: 0px;
    margin: 3.5px;
    background-color: #fff;
}

.profcard h1 {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 1rem 0;
}

.profcard h2 {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.profcard h3 {
    color: var(--primary-color);
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.profcard h5 {
    color: var(--text-color);
    font-size: 0.5rem;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    text-align: left;

}

.profcard p {
    font-size: 0.8rem;
    color: var(--text-color);
    text-align: left;
}

.profcard .star {
    text-align: right;
    align-items: flex-start;
    font-size: 0.5rem;
}




/* Hover effect for the .profcard */
.profcard:hover {
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow on hover */
}

/* Hover effect for the image */
.profcard:hover img {
    transform: scale(1.1); /* Slight zoom effect on image */
}

/* Hover effect for the image */
.profcard::after {
    transform: scale(1.1); /* Slight zoom effect on image */
    
}

.content-box-b {
    width: 60%;
    display: flex; 
    flex-direction: column; 
    text-align: start;
    align-items: start;
    justify-content: center;
    margin: 0 0 0 15px; 
    padding: 0;
}
.content-box-b h3 {
    color: var(--primary-color);
    margin: 0;
    padding: 0;               
    font-size: 0.9rem;       
}
.content-box-b h4 {
    margin: 0 0 0.5rem 0;               
    font-size: 0.7rem;       
    color: #888888;            
}

.content-box-b p {
    margin: 0 0 0.2rem;              
    font-size: 0.7rem;         
    color: #555;             
}


.content-box {
    display: flex; 
    flex-direction: column; 
    text-align: start;
    align-items: start;
    justify-content: center;
    margin: 0 0 0 15px; 
    padding: 0;
}
.content-box h3 {
    margin: 0;
    padding: 0;               
    font-size: 0.8rem;       
    color: #333;            
}
.content-box h4 {
    margin: 0 0 0.5rem 0;               
    font-size: 0.7rem;       
    color: #888888;            
}

.content-box p {
    margin: 0 0 0.2rem;              
    font-size: 0.7rem;         
    color: #555;             
}


hr {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0.1px solid var(--primary-color);
}

#shs{
    display: flex;
    flex-direction: column;
}




/* ---------------------Styling for the profile section -----------------------*/
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}

/* Profile image styles */
.profile img {
    width: 75px;  
    height: 75px; 
    align-items: center;
    object-fit: cover;  
    border: 0.5px solid var(--primary-color);
    border-bottom: 3.5px solid var(--primary-color);
    border-radius: 50%;
    padding: 1px;
    transition: transform 0.3s ease; 
}



/* Header styles for speaker name and designation */
.profile h1 {
    font-size: 1.0rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 1rem 0 0;
}

.profile h2 {
    margin: 0.2rem 0 0;
    font-size: 0.8rem;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.profile p {
    font-size: 0.8rem;
    margin: 0 2rem 1rem;
    text-align: justify;
}

.profile-content {
    background-color: whitesmoke;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: var(--footer-height);
}

.profile-content p {
    font-size: 0.8;
    margin-bottom: 5px;
}

.profile-content p strong {
    color: #2c3e50;
}


/*-----------------------------------*/
.ribbon {
    margin: 15px 0 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.ribbon p {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.day-text {
    font-size: 0.8rem; /* Slightly larger font for the day */
    font-weight: bold;
    color: #333;
}

.date-text {
    font-size: 0.6rem; /* Smaller font for the date */
    font-weight: normal;
    color: #333;
    text-align: center;
    justify-content: center;
}

.search-section {
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    font-size: 1rem;
}


#searchInput {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    font-size: 0.6rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;

}

.search-section button {
    width: wrap;
    padding: 0 10px 0;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-left: 10px;
    border: 0px solid white;
    border-radius: 10px;
}

.nav-button.active {
    background-color: var(--primary-color-hover); /* Highlight color */
    color: #f0f0f0;
    border: 2px solid var(--primary-color-hover);
}


/* Error message styling */
.error-message {
    width: 40%;
    background-color:var(--primary-color);
    color: #721c24;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 15px;
    margin: 60px auto;
    font-size: 0.8rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

.error-message a {
    color: #721c24;
    text-decoration: underline;
}

.error-message a:hover {
    text-decoration: none;
}

.loader {
    width: 60px;
    aspect-ratio: 1;
    display: none; /* Hide the loader initially */
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.loader.active {
    display: grid; /* Show the loader when the active class is added */
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, var(--primary-color) 92%, #0066ff00);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 15px 15px;
    animation: l12 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 10px 10px;
    animation-timing-function: linear;
}

@keyframes l12 {
    100% {
        transform: rotate(.5turn);
    }
}



/* Style for the navigation panel */
.navigation-panel {
    padding: 5px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    background-color: #01A3BA;
    max-width: 100%; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

/* Style for the navigation buttons */
.nav-button {
    width: 30%;   
    margin: 3px;              
    height: 30px;             
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    max-width: 150px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}


.nav-button i {
    margin-right: 5px;
    font-size: 0.8rem;
    color: gray;
}

.nav-button span {
    display: inline-block;
    color: gray;
}


.nav-button:hover {
    background-color: var(--primary-color-hover);
    color: white;
}


.nav-button:hover i {
    color: white; 
}


.nav-button:hover span {
    color: white; 
}

#scrollToTop {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(13, 17, 17, 0.5); /* Dark background */
    color: white;
    border: none;
    border-radius: 50%; /* Make it circular */
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}


#scrollToTop.visible {
    display: flex; /* Ensure visibility */
    opacity: 1;
    
}

#scrollToTop:not(.visible) {
    opacity: 0;
    
}



.session-card {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 5px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.session-time {
    width: 70px;
    height: 80%;
    font-weight: bold;
    text-align: center;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.session-time i {
    padding: 0 0.5rem 0 0;
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
}
.session-time P {
    padding: 0;
    font-size: 0.6rem;
}

.session-content {
    flex: 1;
    padding-left: 15px;
}

.session-title {
    font-size: 1.em;
    margin-bottom: 5px;
    color: #666;
}

.session-speakers {
    font-size: 0.9em;
    color: #666;
}

.agenda-box {
    display: flex;
    margin: 0.3rem 0.5rem 0.3rem;
    padding: 0rem;
    border-radius: 10px;
}

.hero {
    width: 100%;
}

.img-f {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.iframe-wrapper {
    width: 100%;
    max-width: 100%;
    height: 60%;
    padding: 10px; 
    box-sizing: border-box; 
    overflow: hidden;
}

iframe {
    width: 100%;
}

#gmap {
    width: 100%;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Modal Content Animation */
.modal-content {
    background: white;
    max-width: 400px;
    width: 90%;
    height: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    overflow-y: auto; 
    justify-items: center;
    
}


/* When Modal is Active */
.modal.active {
    display: flex;
    opacity: 1;
}

/* When Modal Content is Active */
.modal.active .modal-content {
    opacity: 1;
    transform: translateY(0);
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px; /* Add height to ensure the button has a defined size */
    font-size: 20px;
    font-weight: bolder;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    display: flex; /* Add Flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}


/* Modal Body Styles */
#modal-body {
    width: 100%;
    padding: 0px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    justify-content: flex-start; /* Aligns content to the top */
    transform: translateY(-30px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.band {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(141, 141, 141, 0.1);
    border-radius: 10px;
    align-items: center;
    padding-left: 20px;
}
.band2 {
    padding: 20px;
}
.band2 p{
    padding: 0px;
    margin: 0px;
}


/* Styling for the image inside the modal body */
.band img {
    width: 75px;  
    height: 75px; 
    align-items: center;
    object-fit: cover;  
    border: 0.5px solid var(--primary-color);
    border-bottom: 3.5px solid var(--primary-color);
    border-radius: 50%;
    padding: 1px;
    transition: transform 0.3s ease; 
}

/* Header styling inside modal body */
.band2 h2 {
    font-size: 1.0rem;
    color: var(--primary-color);
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
}



/* Paragraphs for speaker details */
#modal-body p {
    font-size: 0.8rem;
    color: #333;
    line-height: 1.5;
    text-align: justify; /* This will justify the text */
}

.band3 {
    margin-top: 10px;
    width: 80%;
    background-color: #f9f9f9; /* Light background for the session */
    border-radius: 8px; /* Slightly rounded corners */
    padding: 15px; /* Padding around the content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.band3 p {
    
    font-size: 16px; /* Adjust font size for readability */
    color: #333; /* Dark text color for contrast */
    margin: 0; /* Remove any default margin from the paragraph */
}

.groupPresenter p {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
    color: #666;
}

.ribbon2 {
    margin: 5px 0 0;
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 0.8rem;
    color: rgb(49, 49, 49);
    font-weight: bold;
    box-sizing: border-box;
}

.ribbon2 p {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.ribbon3 {
    margin: 15px 0 10px;
    background-color:  #c6f8ff;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    font-size: 0.8rem;
    color: black;
}

.ribbon3 p {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    padding: 10px;
    
}

#g1{
    background: #f0efef;
    height: 60px;
    color: #555;
}

#modelpdf {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.modal-contentp {
    background: rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 80%;
    height: 70%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow-y: none; 
    justify-items: center;
}

.modal-contentp iframe {
    margin-top: 20px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.close-modalp {
    background-color: #f0f0f0;
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Horizontally center text */
    align-items: center; /* Vertically center text */
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center; /* Ensure text is aligned in the center */
}



@media screen and (min-width: 600px) {
    :root{
        max-width: 600px;
        margin: auto;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);


    }

}

